{% extends "newsletter/common.html" %}
{% load i18n %}


{% block title %}{% trans "Newsletter detail" %}{% endblock title %}


{% block body %}
	<hgroup>
		<h1 class="action-label"><a href="{% url 'newsletter_list' %}">{% block action_title %}{% trans "Newsletter" %}{% endblock action_title %}</a></h1>
		<h2 class="newsletter-title">{{ newsletter.title }}</h2>
	</hgroup>


	{% block action_content %}
		{% block newsletter_description %}
			{% if object.description %}
				<div class="text">
					{{ object.description|linebreaks }}
				</div>
			{% endif %}
		{% endblock newsletter_description %}

	<p>
		{% trans "Zum Abonnieren unseres Newletters oder zum Beenden Ihres Abonnements wählen Sie sich bitte unten die entsprechende Option." %}
	</p>

	<ul class="newsletter actions">
		<li><a href="{% url "newsletter_subscribe_request" object.slug %}">{% trans "Subscribe" %}</a></li>
		{# {% if not user.is_authenticated %} #}
		{# <li><a href="{% url "newsletter_update_request" object.slug %}">{% trans "Update" %}</a></li> #}
		{# {% endif %} #}
		<li><a href="{% url "newsletter_unsubscribe_request" object.slug %}">{% trans "Unsubscribe" %}</a></li>
		{% if show_archive %}
		<li><a href="{% url "newsletter_archive" object.slug %}">{% trans "Archive" %}</a></li>
		{% endif %}
	</ul>

	{% endblock action_content %}

{# 	<p> #}
{# 		<a href="{% url 'newsletter_list' %}">{% trans "Newsletter Overview" %}</a></h1> #}
{# 	</p> #}

{% endblock body %}
