{% extends "newsletter/subscription_unsubscribe.html" %}
{% load i18n %}


{% block action_content %}
	{% if messages %}

		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>

	{% else %}

		<p>
			{% trans "Do you want to unsubscribe to this newsletter?" %}
			<form enctype="multipart/form-data" method="post" action="{% url "newsletter_unsubscribe_confirm" newsletter.slug %}">
			    {% csrf_token %}
			    <p><input id="id_submit" name="submit" value="{% trans "Unsubscribe" %}" type="submit" /></p>
			</form>
		</p>

	{% endif %}
{% endblock action_content %}
