{% extends "newsletter/newsletter_detail.html" %}
{% load i18n %}


{% block action_title %}
	{{ block.super }} – {% if action == 'unsubscribe' %}{% trans "Unsubscribe" %}{% else %}{% trans "Subscribe" %}{% endif %}
{% endblock action_title %}


{% block action_content %}
	<p>
		{% trans "Please confirm your subscription using the supplied activation key:" %}

		<form enctype="multipart/form-data" method="post" action=".">
			{% csrf_token %}
			{{ form.as_p }}
			<p><input id="id_submit" name="submit" value="{% if action == 'unsubscribe' %}{% trans "Unsubscribe" %}{% else %}{% trans "Subscribe" %}{% endif %}" type="submit" /></p>
		</form>
	</p>

{% endblock action_content %}
