{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Subscription to {{ title }}{% endblocktrans %}</title>
</head>
<body>
{% if subscription.name %}{% blocktrans with name=subscription.name %}
<p>Dear {{ name }}!</p>
{% endblocktrans %}{% endif %}
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.subscribe_activate_url %}

<p>You, or someone in your name requested a subscription to {{ title }}.</p>

<p>
	If you would like to confirm your subscription, please follow this activation link:<br>
	<a href="https://{{ domain }}{{ url }}">https://{{ domain }}{{ url }}</a>
</p>

<p>
	Kind regards,
{% endblocktrans %}
	{{ newsletter.sender }}
</p>
</body>
</html>
