{% load i18n %}<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{% blocktrans with title=newsletter.title %}Unsubscription from {{ title }}{% endblocktrans %}</title>
</head>
<body>
{% if subscription.name %}{% blocktrans with name=subscription.name %}
<p>Dear {{ name }}!</p>
{% endblocktrans %}{% endif %}
{% blocktrans with name=subscription.name title=newsletter.title domain=site.domain url=subscription.unsubscribe_activate_url %}

<p>You, or someone in your name requested unsubscription from {{ title }}.</p>

<p>
	If you would like to confirm your unsubscription, please follow this activation link:<br>
	https://{{ domain }}{{ url }}
</p>

<p>
	Kind regards,
{% endblocktrans %}
	{{ newsletter.sender }}
</p>
</body>
</html>
